spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service
              uri: lb://UserService
              predicates:
                - Path=/api/users/**
            - id: activity-service
              uri: lb://ActivityService
              predicates:
                - Path=/api/activity/**

server:
  port: 8080

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/